"*":
  "atom-beautify":
    general:
      _analyticsUserId: "4663705d-3bf9-48fd-b52d-4d77172670c3"
  autocomplete:
    includeCompletionsFromAllBuffers: false
  "autocomplete-plus":
    confirmCompletion: "enter"
    includeCompletionsFromAllBuffers: true
    maxVisibleSuggestions: 5
    strictMatching: true
    suggestionListFollows: "Word"
  core:
    disabledPackages: [
      "no-title-bar"
    ]
    projectHome: "/Users/nisanth/code"
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "github-web"
    ]
  editor:
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontFamily: "Hack"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: false
  "exception-reporting":
    userId: "f303a44e-5fef-3729-549d-462fc5f7ef2d"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "23ab5e146372cfd9663b5eec52f830fc002c8c2b"
  "release-notes":
    viewedVersion: "0.95.0"
  "save-session":
    dataSaveFolder: "/Users/nisanth/.atom/packages/save-session/projects"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".erb.html.text":
  editor:
    tabLength: 4
".haml":
  whitespace:
    removeTrailingWhitespace: true
".ruby.source":
  editor:
    tabLength: 2
  whitespace:
    removeTrailingWhitespace: true
".sql":
  editor:
    softWrap: true
".yaml":
  whitespace:
    removeTrailingWhitespace: true
